<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="container">
			<div class="sample">
				<button class="btn btn-dark" @click="addNumber">add number</button>
				<button class="btn btn-dark" @click="sortNumber">add sort</button>
				<ul>
					<li v-for="(number,index) in numbers"
					v-on:click="$event.target.style.display='none'"
					v-on:mouseenter="even($event,index)"
					>
						{{index}}--{{number}}
					</li>
				</ul>
				<table class="table table-bordered">
					<tr v-for="(value, key, index) in info">
						<td>{{index}}</td>
						<td>{{key}}</td>
						<td>{{value}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<script>
		let sample = new Vue({
					el: '.sample', //выбор елемента
					data: { //храним входные данные этом обьекте
						numbers: [0,1,2,3],
						info: {
							name: "anna",
							email: 'anna@mail.ru'
						}
			},
			methods: {
				addNumber() {//добавление в массив
					this.numbers.push(Math.floor(Math.random()*10));
				},
				sortNumber(){//сортировка
					this.numbers.sort((a,b)=>{
						return a > b ? 1: -1;
					});
				},
				even(e, index) {//функция меняет цвет не четных индексов 
					if(index % 2 == 1){
						e.target.style.color='red';
					}
				}
			}
			
		});
	</script>
</body>

</html>